PALINDROME

In [4]:
num=121
temp=num
rev=0

while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
    

                   
if rev==temp:
    print("number is a palindrome")

else:
    print("number is not a palindrome")

number is a palindrome

PALINDROME FOR A STRING

In [9]:
str="MALAYALA"
if str==(str[::-1]):
    print(str,"is a Palindrome")
else:
    print(str,"is not a palindrome")

MALAYALA is not a palindrome

PRIME NUMBER IN A RANGE

In [37]:
def prime(n):
    if n<2:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

prime_n=[num for num in range(45,1224) if prime(num) ]

print(prime_n)

[47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223]

Fibonnaci series

In [47]:
n=10
a,b=0,1

for i in range(n-2):
    c=b+a
    b=a
    a=c
    
    print(a)

1
1
2
3
5
8
13
21

In [53]:
n=5
fact=1

for i in range(1,n+1):
    fact=fact*i
    
    print(fact)

1
2
6
24
120

Factorial of a number

In [56]:
n=5
fact=1
for i in range(1,n+1):
    fact=fact*i
    
print(fact)

120

leap_year

In [64]:
year=2005

if (year%4==0) and (year%100!=0 or year%4==0):
    print("Leap Year")
    
else:
    print("not a leap year")

not a leap year

Max Number in a list

In [75]:
lst=[1,2,3,4,5,5,677,888]
maxNum=lst[0]

for num in lst:
    if maxNum<num:
        maxNum=num
print(maxNum)

888

Middle of the Element

In [81]:
lst=[1,2,3,4,5,6,7,8,9]

Mid=int(len(lst)/2)

print(Mid)

4

sum_of_digits

In [100]:
n=123
sum=0
while n>0:
    rem=n%10
    sum=sum+rem
    n=n//10
    
print(sum)

6